@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
}
.cart {
  margin: 2rem auto;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.cart__items {
  flex: 0.7;
  margin-right: 1rem;
}

.cart__summary {
  height: 219px;
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  margin: 0 10px;
}

.summary__title {
  font-size: 1.2rem;
  font-weight: bold;
}

.summary__price {
  display: flex;
  align-items: center;
}

.summary__price span:nth-child(1) {
  font-size: 0.9rem;
  flex: 0.6;
}

.summary__price span:nth-child(2) {
  flex: 0.4;
  font-size: 1.2rem;
  font-weight: bold;
}

.summary__checkoutBtn {
  padding: 10px 17px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background: var(--primary-color);
  color: var(--light-color);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.summary__checkoutBtn:focus {
  outline: none;
  border: 1px solid var(--secondary-color);
}

.summary__checkoutBtn:hover {
  opacity: 0.75;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 34px;
  background: rgb(14, 12, 12);
  position: sticky;
  top: 0;
  left: 0;
}

.navbar__logo {
  font-weight: bold;
  color: #fff;
}

.navbar__cart {
  background: #fff;
  width: 75px;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0.1rem;
  cursor: pointer;
}

.navbar__cart:hover {
  opacity: 0.75;
}

.cart__title {
  font-size: 30px;
  font-weight: bold;
  color: var(--dark-color);
}

.cart__image {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.cart__counter {
  height: 20px;
  width: 20px;
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: left;
  align-items: left;
}
.cartItem {
  margin-bottom: 1rem;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.cartItem__image {
  width: 220px;
  object-fit: contain;
  border-radius: 10px;
}

.cartItem__details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--secondary-color);
}

.details__title {
  font-size: 1rem;
  font-weight: bold;
}

.details__desc {
  font-size: 0.8rem;
}

.details__price {
  font-size: 1rem;
  font-weight: bold;
}

.cartItem__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.6rem;
}

.cartItem__qty {
  display: flex;
  align-items: center;
}

.cartItem__qty input {
  padding: 10px;
  margin-left: 0.4rem;
  width: 60px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  outline: none;
}

.actions__deleteItemBtn {
  font-size: 35px;
}
.actions__deleteItemBtn:hover {
  color: rgb(209, 15, 15);
}

.products {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singleItem {
  width: 900px;
  margin: 2rem auto;
  display: flex;
}

.singleItem__image {
  width: 400px;
  object-fit: contain;
  margin-right: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.singleItem__details {
  padding: 1rem 124px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--secondary-color);
}

.details__title,
.details__price {
  font-size: 1.2rem;
  font-weight: bold;
}

.details__description {
  font-size: 1rem;
}

.details__addBtn {
  padding: 10px 17px;
  background: var(--secondary-color);
  color: var(--light-color);
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.details__addBtn:hover {
  opacity: 0.75;
}
.product {
  width: 788px;
  margin: 14px 99px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.product__image {
  width: 250px;
  object-fit: contain;
  border-radius: 10px;
}

.product__details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details__title {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.details__desc {
  font-size: 0.85rem;
  color: var(--secondary-color);
}

.details__price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--secondary-color);
}

.product__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.buttons__btn {
  width: 100px;
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  font-size: 0.65rem;
  font-weight: bold;
  cursor: pointer;
}

.buttons__btn:hover {
  opacity: 0.7;
}

.buttons__view {
  background: var(--light-color);
  color: var(--secondary-color);
}

.buttons__add {
  background: var(--secondary-color);
  color: var(--light-color);
}
